
@media (max-width: 767px) {
	.img-logo {
		width: 90px;
	}
}

@media (max-height: 880px){

	.background-img {
  	  background-position: center 100px;
	}
}

@media (min-width: 768px){
	.social {
		top: 30vh;
		left: 40px;
		position: fixed;
	}
  
}













