
@media (max-width: 767px) {
	.img-logo {
		width: 90px;
		height: 25px;
	}
}


@media (min-width: 767px){
	.social {
		top: 220px;
		left: 40px;
		position: fixed;
		display: inline;
	}

	.background-img {
		background-position: center 100px;
		height: 97.5%;
	}
  
}













